body {
  background: #f5efef;
}

.box-container {
  height: 100vh;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
}

.box {
  /* width: 50%; */
  height: 12%;
  /* display: flex; */
}

.container-input {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.input {
  padding: 0.7rem;
  width: 100%;
}

.card-input {
  width: 50%;
}

.button {
  padding: 5rem;
  font-size: 1rem;
}

/* STRUK */

.luar {
  margin: auto;
  height: 20rem;
  width: 25rem;
  background-color: #ffffff;
  text-align: center;
  padding-top: 10px;
  font-size: 1.4rem;
}

.text-jl {
  font-size: 1.1rem;
  margin-top: 0.1rem;
}

.idstruk {
  height: 60px;
  width: 11rem;
  margin: 50px 50px;
}

.isi {
  text-align: center;
  font-size: 50px;
}

.waktu {
  font-size: 1.3rem;
  width: 19rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

#tablestruk {
  font-size: 16px;
  font-weight: bold;
  text-align: start;
}

.footer {
  margin-top: 4rem;
  font-size: 1.2rem;
}
